USE [E:\--PROJETOS\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 22/06/2025 23:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SOBRENOME] [varchar](255) NOT NULL,
	[NACIONALIDADE] [varchar](50) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
	[CIDADE] [varchar](50) NOT NULL,
	[LOGRADOURO] [varchar](500) NOT NULL,
	[EMAIL] [varchar](2079) NULL,
	[TELEFONE] [varchar](15) NULL,
	[CPF] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
