USE [E:\--PROJETOS\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_IncBeneficiario]    Script Date: 22/06/2025 23:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FI_SP_IncBeneficiario]
    @IdCliente BIGINT,
    @Nome VARCHAR(50),
    @CPF VARCHAR(14)
AS
BEGIN
    INSERT INTO BENEFICIARIOS (IDCLIENTE, NOME, CPF)
    VALUES (@IdCliente, @Nome, @CPF)
    SELECT SCOPE_IDENTITY()
END
GO
