USE [E:\--PROJETOS\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_VerificaCliente]    Script Date: 22/06/2025 23:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FI_SP_VerificaCliente]
	@CPF VARCHAR(14)
AS
BEGIN
	SELECT 1 FROM CLIENTES WHERE CPF = @CPF
END
GO
