USE [E:\--PROJETOS\FI.WEBATIVIDADEENTREVISTA\FI.WEBATIVIDADEENTREVISTA\APP_DATA\BANCODEDADOS.MDF]
GO
/****** Object:  StoredProcedure [dbo].[FI_SP_AltBenef]    Script Date: 22/06/2025 23:27:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FI_SP_AltBenef]
    @NOME          VARCHAR (50),
	@CPF           VARCHAR (11),
	@ID			BIGINT
AS
BEGIN
	UPDATE BENEFICIARIOS 
	SET 
		CPF = @CPF,
		NOME = @NOME
	WHERE ID = @ID
END
GO
